﻿<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop Hàng Chợ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="data.js"></script>
</head>
<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyCTFAB0wfPrEhbSupH4miec89vp6ZWPzx0",
        authDomain: "cart-shopping-83a05.firebaseapp.com",
        databaseURL: "https://cart-shopping-83a05.firebaseio.com",
        projectId: "cart-shopping-83a05",
        storageBucket: "cart-shopping-83a05.appspot.com",
        messagingSenderId: "217223639492",
        appId: "1:217223639492:web:202c28ab2a660e4f0ff491",
        measurementId: "G-5R85E54395"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

</script>

<body ng-app="myapp" ng-controller="myctrl">

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <div class="dropdown" style="float:left;position:fixed;margin-left:82%;">
        <button class="btn btn-white dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-shopping-cart" style="font-size:24px;"></span>
            <span class="caret" style="font-weight:bold">{{totalitem}}</span>
        </button>
        <ul class="dropdown-menu">
            <div>
                <table class="table table-hover">
                    <tr>
                        <th style="font-size: 25px;">Ảnh</th>
                        <th style="font-size: 25px;">Tên</th>
                        <th>Giá</th>
                        <th>Số Lượng</th>
                        <th>Tổng</th>
                        <th>Thao Tác</th>
                    </tr>
                    <tr ng-repeat="car in cart">
                        <td><img src="img/products/{{car.image}}" style="max-width: 300% !important;height: 100px;" />
                        </td>
                        <td>{{car.name}}</td>
                        <td>{{car.price}}</td>

                        <td>
                            <span><button class="btn btn-success" style="font-size:8px" ng-click="tru(car)"
                                    ng-disabled="car.soluong==1">-</button></span>
                            <input type="text" class="text-center" style="width:40px;" disabled
                                ng-model="car.soluong" />
                            <span><button class="btn btn-success" style="font-size:8px"
                                    ng-click="cong(car)">+</button></span>
                        </td>
                        <td>{{car.soluong*car.price|number:2}}</td>
                        <td><button class="btn btn-danger" ng-click="deleteCart($index)">Xóa</button></td>

                    </tr>
                    <tr>
                        <td colspan="4" align="right" style="font-size: 25px;">Tổng</td>
                        <td colspan="4" style="font-size: 25px;">{{settong()|number:2|currency}}</td>

                    </tr>
                    <tr>
                        <td><button class="btn btn-primary" type="button" ng-click="add(cart)">Thanh Toán</button></td>
                    </tr>
                </table>
            </div>
        </ul>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="./index2.html"><img src="img/logo12.jpg" alt=""></a>
                </div>
                <div class="header-right">
                    <img src="img/icons/search.png" alt="" class="search-trigger">
                    <img src="img/icons/man.png" alt="">

                </div>
                <div class="user-access" style="font-size: 20px;">
                    <div id="username"></div>
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a href="./index2.html">Home</a></li>
                        <li><a href="./categories.html">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="product-page.html">Product Page</a></li>
                                <li><a href="shopping-cart.html">Shopping Card</a></li>
                                <li><a href="check-out.html">Check out</a></li>
                            </ul>
                        </li>
                        <li><a href="./product-page.html">About</a></li>
                        <li><a href="./check-out.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="img/icons/delivery.png" alt="">
                        <p>Miễn Phí Ship Toàn Quốc Ở VN</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="img/icons/voucher.png" alt="">
                        <p>20% Giảm Giá Cho Sinh Viên</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                        <img src="img/icons/sales.png" alt="">
                        <p>30% Giảm Giá Khi Đeo Khẩu Trang Đến Mua Hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Header End -->

    <!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Sản Phẩm<span>.</span></h2>
                        <a href="index.html">Home</a>
                        <a href="#">Shop</a>
                        <a class="active" href="categories.html">Categories</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="img/add.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Categories Page Section Begin -->
    <section class="categories-page spad">
        <div class="container">
            <div class="categories-controls">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="categories-filter">
                            <div class="cf-left">
                                <form action="#">
                                    <select class="sort">
                                        <option value="">Sort by</option>
                                        <option value="">Orders</option>
                                        <option value="">Newest</option>
                                        <option value="">Price</option>
                                    </select>
                                </form>
                            </div>
                            <div class="cf-right">
                                <span>20 Products</span>
                                <a href="categories.html">2</a>
                                <a href="categories.html" class="active">4</a>
                                <a href="categories.html">6</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 mix all dresses bags" ng-repeat="items in data|limitTo:8:begin">
                    <div class="single-product-item">
                        <figure>
                            <img src="img/products/{{items.image}}" alt="">
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                            <button class="btn btn-success" ng-click="addCart(items)"
                                style="font-size: 14px;margin-bottom: 5%;">Add
                                cart</button>
                            <h6>{{items.name|uppercase}}</h6>
                            <p>{{items.price|currency}}</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="more-product">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <ul class="pager">
                            <li>
                                <a href="#" ng-click="first()"><span class="glyphicon glyphicon-menu-up"
                                        style="font-size: 35px;color: black;"></span></a>
                            </li>
                            <li>
                                <a href="#" ng-click="next()"><span class="glyphicon glyphicon-menu-right"
                                        style="font-size: 35px;color: black;"></span></a>
                            </li>
                            <li>
                                <a href="#" ng-click="previus()"><span class="glyphicon glyphicon-menu-left"
                                        style="font-size: 35px;color: black;"></span></a>
                            </li>
                            <li>
                                <a href="#" ng-click="last()"><span class="glyphicon glyphicon-menu-down"
                                        style="font-size: 35px;color: black;"></span></a>
                            </li>
                        </ul>
                        <a href="categories.html" class="primary-btn">LÊN TRÊN</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Page Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="newslatter-form">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <input type="text" placeholder="Your email address">
                            <button type="submit">Subscribe to our newsletter</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="social-links-warp">
            <div class="container">
                <div class="social-links">
                    <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                    <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                    <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                    <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                    <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                    <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
                </div>
            </div>

            <div class="container text-center pt-5">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>


        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
<script>
    var app = angular.module("myapp", ["firebase"]);
    app.controller("myctrl", function ($scope, $window, $firebaseArray) {


        $scope.data = data;
        $scope.begin = 0;
        $scope.pageCount = Math.ceil($scope.data.length / 8);
        $scope.first = function () {
            $scope.begin = 0;
        };
        $scope.next = function () {
            if ($scope.begin < ($scope.pageCount - 1) * 8) {
                $scope.begin += 8;
            }
        };
        $scope.previus = function () {
            if ($scope.begin > 0) {
                $scope.begin -= 8;
            }
        };
        $scope.last = function () {
            $scope.begin = ($scope.pageCount - 1) * 8


        };
        //Thêm sản phẩm
        var sp = {};
        $scope.cart = [];
        $scope.totalitem = 0;

        $scope.addCart = function (items) {
            if ($scope.cart.indexOf(items) != -1) {
                $scope.cart[$scope.cart.indexOf(items)].soluong++;
            }
            else {
                sp = items;
                sp.soluong = 1;
                $scope.cart.push(sp);
            }
            $scope.totalitem = $scope.totalitem + 1;


        };
        $scope.deleteCart = function (index) {
            $scope.totalitem -= $scope.cart[index].soluong;
            $scope.cart.splice(index, 1);

        };
        $scope.settong = function () {
            var total = 0;
            for (var count = 0; count < $scope.cart.length; count++) {
                var item = $scope.cart[count];
                total = total + (item.soluong * item.price);
            }
            return total;
        };
        $scope.cong = function (car) {
            $scope.totalitem = $scope.totalitem + 1;
            $scope.cart[$scope.cart.indexOf(car)].soluong++;
        };
        $scope.tru = function (car) {
            $scope.totalitem = $scope.totalitem - 1;
            $scope.cart[$scope.cart.indexOf(car)].soluong--;
        };



        $scope.add = function (cart) {
            var u = localStorage.getItem("objUser");

               var ref = firebase.database().ref('demo/' + u);
               $firebaseArray(ref).$add($scope.cart)
                   .then(
                      function (ref) {
                           $window.location.href = 'check-out.html';
                       },
                       function (error) {
                           console.log(error);
                      }
                  )
            //  var name=[];
            // $scope.cart=name;
            //  firebase.database().ref('demo/' + u).push(
            //     name
            //  )






        };



    });

    if (typeof (Storage) !== "undefined") {
        var u = localStorage.getItem("objUser");
        document.getElementById("username").innerHTML = "Hello " + u;
    } else {
        document.getElementById("username").innerHTML = "Sorry, your browser does not support Web Storage...";
    }




</script>